name: hello world workflows
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: hello world
        run: echo "Hello world man"
        shell: bash
  
  goodbye:
    runs-on: ubuntu-latest
    steps:
      - name: good bye
        run: echo "Goood Bye man"
        shell: bash
  checkmem:
    runs-on: ubuntu-latest
    steps:
      - name: check storage by df command
        run: df -h
        shell: bash
  checkram:
    runs-on: ubuntu-latest
    steps:
      - name: check ram by free command
        run: free -h
        shell: bash
  
  bashshellrun:
    runs-on: ubuntu-latest
    steps:
      - name: runing bash
        run: sh github-action-bash-script.sh
