name: hello world workflows
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: hello world
        run: echo "Hello world man"
        shell: bash
  
  goodbye:
    runs-on: ubuntu-latest
    steps:
      - name: good bye
        run: echo "Goood Bye man"
        shell: bash
  checkmem:
    runs-on: ubuntu-latest
    steps:
      - name: check memory by df command
        run: df -h
        shell: bash
